<div class="container">
<h1> Lists </h1>

<ul>
  <% @lists.each do |list| %>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <li>
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
</ul>






<%= link_to "+ New list", new_list_path %>
</div>
